

.bootstrap{
    background-color: rgba(26, 188, 156, 1);
    height: 500px;
}

.bg-darks{
background-color:rgba(44, 62, 80, 1);
height: 100px;
}

.navbar-collapse{
    flex-grow: 0;
}

.hero_image{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.text > span{
    font-size: 70px;
    letter-spacing: 3px;
    color:#fff;
}

.star{
    width: 500px;
    height: 2px;
    
    display:Flex;
    justify-content: space-between;
}

.left{
    width: 200px;
    height: 4px;
    background-color: white;
}

.right{
    width: 200px;
    height: 4px;
    background-color: white;
}
.center{
    position:relative;
    
    width: 30px;
    height: 20px;
}

.center > span{
    position:absolute;
    font-size: 45px;
    top:-35px;
    color:white;
}

.center > .bg-{
    color:black;
    
}

.seconda-stella{
    display:flex;
    justify-content: center;
    
}

img{
    max-width: 100%;
    padding:1.5rem;
    border-radius: 10%;
    
}

.abaut{
    color:white;
}

.terza-stella{
    display:flex;
    justify-content: center;
}

.terza-stella > .center >span{
    color:white;
}

p{
    color:white;
}

.btn{
    color:white;
    display:inline;
    
}

.container-btn{
    display:flex;
    justify-content: center;
    align-items: center;
}