*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.bg-success{
    height: 500px;
    
}



.top-buffer{
    margin-top:80px;
    margin-bottom:80px;
    
    text-align: center;
}

.bg-danger{
    height: 500px;
}


.bg-secondary{
    height: 400px;
}

img{
    margin:10px;
}

@media  (min-width: 576px) { 
   
}


@media (min-width: 768px) {
   
}


@media (min-width: 992px) {
    
}


@media (min-width: 1200px) {
    
 }


@media (min-width: 1400px) { 
   
 }

